{% extends 'base.html.twig' %}

{% block title %}Formulaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="row justify-content-center">
			Modification de l'annonce "{{ offre.title }}" :
		</h1>
		{{ form_start(form) }}
		<div id="erreur">
			{{ form_errors(form) }}
		</div>
		<div id="titre" class="card">
			<h4>Titre :</h4>
			{{ form_widget(form.Title) }}
			<h4>Description :</h4>
			{{ form_widget(form.Description) }}
			<h4>Choix du contrat :</h4>
			{{ form_widget(form.key_contrats) }}
			<h4>Date de fin de mission :</h4>
			{{ form_widget(form.Fin_mission) }}
			<h4>Adresse :</h4>
			{{ form_widget(form.Adresse) }}
			<h4>Code postal :</h4>
			{{ form_widget(form.Code_postal) }}
			<h4>Ville :</h4>
			{{ form_widget(form.Ville) }}
			<h4>Choix du type de contrat :</h4>
			{{ form_widget(form.key_type_contrats) }}
			<div class="row justify-content-center marge">
				{{ form_end(form) }}
			</div>
		</div>

	</div>
{% endblock %}
