{% extends 'base.html.twig' %}

{% block title %}Gestion des annonces
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="row justify-content-center" style="margin-bottom:2%">
			Gestion des annonces :
		</h1>
		<div class="row justify-content-center">
			<a href="/" role="button" class="btn btn-primary">Accueil</a>
		</div>
		<div class="row">
			{% for offre in offres %}
				<div class="col-md-3 marge">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title center">{{offre.title}}</h5>
							<p class="card-text center">{{offre.ville}}</p>
							<p class="card-text center">{{offre.keycontrats.titre}}</p>
							<p class="card-text center">{{offre.keytypecontrats.titre}}</p>
							<div class="row justify-content-center">
								<a href="/gestion/{{offre.id}}" role="button" class="btn btn-primary marge">Modifier offre</a>
								<a href="/delete/{{offre.id}}" role="button" class="btn btn-primary marge">Supprimer offre</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
