{% extends 'base.html.twig' %}

{% block title %}Liste offres
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="row justify-content-center" style="margin-bottom:2%">
			Liste des offres disponibles :
		</h1>
		<div class="row justify-content-around creation decaler_bouton">
			{% if app.user %}
				<a href="/form" role="button" class="btn btn-primary">Ajouter une annonce</a>
				<a href="{{ path('app_logout') }}" role="button" class="btn btn-primary">Déconnexion</a>
				<a href="/gestion" role="button" class="btn btn-primary">Gestion</a>

			{% else %}
				<a href="/register" role="button" class="btn btn-primary">S'inscrire</a>
				<a href="/login" role="button" class="btn btn-primary">Se connecter</a>
			{% endif %}
		</div>
		<div class="row">
			{% for offre in offres %}
				<div class="col-md-3 marge">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title center">{{offre.title}}</h5>
							<p class="card-text center">{{offre.ville}}</p>
							<p class="card-text center">{{offre.keycontrats.titre}}</p>
							<p class="card-text center">{{offre.keytypecontrats.titre}}</p>
							<div class="row justify-content-center">
								<a href="/offres/{{offre.id}}" role="button" class="btn btn-primary">voir offre</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
