{% extends 'base.html.twig' %}

{% block title %}Offre
	{{ offre.title}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="row justify-content-center">
			Offre :
			{{ offre.title }}
		</h1>
		<div class="card" style="margin-top: 10%">
			<p>
				Description :
				{{ offre.Description }}
			</p>
			<p>
				Adresse :
				{{ offre.Adresse}}
			</p>
			<p>
				Code postal :
				{{ offre.codepostal}}
			</p>
			<p>
				Ville :
				{{ offre.Ville}}
			</p>
			<p>
				Date de création :
				{{offre.datecreation  | date("d/m/Y")}}
			</p>
			<p>
				Date de mise à jour :
				{{offre.datemaj  | date("d/m/Y")}}
			</p>
			{% if offre.keycontrats.titre == 'CDI' %}
				{% else %}
					<p>
						Date de fin de mission :
						{{offre.finmission  | date("d/m/Y")}}
					</p>
			{% endif %}
			<p>
				Contrat :
				{{ offre.keycontrats.titre}}
			</p>
			<p>
				Type de contrat :
				{{ offre.keytypecontrats.titre}}
			</p>

			<button type="button" class="btn btn-primary">Postuler</button>
		</div>

		<a href="/" role="button" class="btn btn-secondary">retour</a>
	</div>
{% endblock %}
