{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="container">
		<h1 class="row justify-content-center">Register</h1>
		<div id="titre" class="card" style="text-align: center">
			{{ form_start(registrationForm) }}
			<h4>Prénom :</h4>
			{{  form_widget(registrationForm.first_name)  }}
			<h4>Nom :</h4>
			{{  form_widget(registrationForm.last_name)  }}
			<h4>Pseudo :</h4>
			{{  form_widget(registrationForm.username)  }}
			<h4>Email :</h4>
			{{ form_widget(registrationForm.email) }}
			<h4>Mot de passe :</h4>
			{{ form_widget(registrationForm.plainPassword, {
        }) }}
			<div class="row justify-content-center marge">
				<button type="submit" class="btn btn-primary">S'inscrire</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
